body {
    overflow: hidden;
    background: url("/images/home-photo-altered-2.jpg") no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    image-rendering: -webkit-optimize-contrast;
}

.c-nav ul, .c-nav-link ul {
    list-style-type: none;
    margin: 0 auto;
    overflow: hidden; 
}
  
.c-nav ul li, .c-nav-link ul li {
    float: left;
    font-size: 17px;
    font-family: 'Ubuntu Condensed', sans-serif;
}
  
.c-nav ul li a, .c-nav-link ul li a {
    display: block;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none; 
    font-family: 'Acme', sans-serif;
}

.c-nav-items {
    margin: 0 auto;
}

.c-navigation {
    background-color: #0297ee; 
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.title-card {
    flex: .3;
    text-align: center;
    color: white;
    font-family: 'Acme', sans-serif;
}

.full-logo {
    max-width: 30%;
}

.c-nav {
    display: flex;
    flex-direction: row;
    flex: .7;
}

.c-nav, .c-nav-link {
    float: left;
    top: 20px; 
    justify-content: flex-end;
}

.c-nav .c-link {
    margin-left: 15px;
    border: 1px solid white;
}

.c-link {
    border-radius: 5px;
}

.c-link * {
    color: white;
    font-family: 'Ubuntu', sans-serif; 
    font-size: 20px;
}

.c-nav .c-link *:hover {
    background-color: #5e6461;
}

.c-link *:hover {
    background-color: #33bbff; 
    border-radius: 5px;
    border: 1px solid white;
}

.c-dropdown {
    top: 20px;
    margin: 10px;
    padding-right: 10%;
    display: inline-block;
    justify-content: flex-end;
}
  
.c-dropdown .dropbtn {
    padding: 10px;
    font-size: 16px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    background: transparent;
}

/* .c-dropdown .dropbtn .hamburger {
    width: 30px;
    height: 2px;
    background-color: white;
    margin: 6px 0;
    border: none;
} */

.hamburger {
    width: 30px;
    height: 2px;
    background-color: white;
    margin: 6px 0;
    border: none;
}

.dropdown-content {
    position: absolute;
    right: 15px;
    background-color: #0297ee; 
    display: none;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px black;
    z-index: 1; 
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    font-family: 'Acme', sans-serif;
    display: block;
}

.dropdown-content a:hover {
    background-color: #5e6461;
}

.show {
    display: block;
}

.container {
    max-width: 100%; 
    text-align: center;
    margin: 0 auto; 
}

.home-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 15%;
    right: 14%;
}

.my-logo {
    max-width: 90%;
}

.top-intro {
    font-size: 45px;
    text-align: left;
}

.intro {
    color: rgb(255, 255, 255);
    font-size: 45px;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.entire-logo {
    max-width: 100%;
}

.footer-temp {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 15%;
    left: 2%;
}

.media {
    height: 60px;
    width: 60px;
    padding: 15px;
}

@media all and (max-width: 1480px) {
    .full-logo {
        max-width: 35%;
    }

    .entire-logo {
        max-width: 70%;
    }
}

@media all and (max-width: 1240px) {
    .intro {
        font-size: 45px;
    }
}

@media all and (max-width: 1040px) {
    .full-logo {
        max-width: 50%;
    }
}

@media all and (max-width: 450px) {
    .full-logo {
      max-width: 150%;
      padding: 5% 0 0 5%;
    }

    .intro {
        font-size: 35px;
    }

    .media {
        height: 45px;
        width: 45px;
        padding: 10px;
    }

    .social-media {
        margin-top: 25%;
        padding-top: 20%;
    }
}

@media all and (max-width: 411px) {
    .full-logo {
        max-width: 20%;
    }
    
    .home-text {
        top: 80%;
    }

    .my-logo {
        max-width: 10%;
    }

    .top-intro {
        font-size: 10px;
    }
}

@media all and (max-width: 400px) {
    .full-logo {
        max-width: 80%;
        padding-left: 10px;
    }

    .hamburger {
        width: 20px;
        height: 2px;
        margin: 2px 0;
    }

    .home-text {
        left: 60%;
        top: 20%;
    }

    .my-logo {
        max-width: 100%;
    }

    .entire-logo {
        max-width: 80%;
    }

    .intro {
        font-size: 25px;
    }
    
    .media {
        height: 40px;
        width: 40px;
    }
}

@media all and (max-width: 360px) {
    .full-logo {
        max-width: 100%;
    }

    .home-text {
        left: 3%;
        top: 15%;
    }

    .entire-logo {
        max-width: 40%;
    }

    .top-intro {
        padding: 15px;
    }

    .intro {
        font-size: 25px;
    }

    .media {
        width: 40px;
        height: 40px;
    }

    .footer-temp {
        top: 50%;
        left: 10%;
    }
}