extends layout

block content
    div.caleb-desc
        div.my-image
            img.self-image(src="images/Caleb-Img.jpg")
        div.about-caleb
            div.caleb-overview
                h1.meet-me Meet Caleb Sanders
                hr
                p.life-story I grew up in a small town called Red Bluff in the state of California. Technology was always a passion of mine since I was old enough to know what a computer was.
                p.life-story My interest for Web Development started during my junior year of high school when I took a web design course just to fill in my schedule. It was the best decision I ever made.
                p.life-story I like to think I'm a very active person. I enjoy getting out and playing sports such as Golf, Baseball, and Ultimate Frisbee. As well as going on hikes with a good view and with good friends.
    div.caleb-technologies
        h1.my-technologies Technologies
            hr
            div.tech-list
                div.tech-part-one 
                    ul
                        li JavaScript
                        li HTML5
                        li CSS3
                        li AngularJS
                        li React
                        li Adobe Illustrator
                        li Adobe Premiere Pro
                div.tech-part-two 
                    ul
                        li NodeJS
                        li ExpressJS
                        li ES6
                        li C#
                        li Java
                        li Android Studios
                        li Adobe Photoshop
                div.tech-part-three 
                    ul
                        li Google APIs
                        li ASP.NET MVC
                        li Ruby
                        li MongoDB
                        li SQL
                        li Adobe InDesign
                        li Adobe After Effects