doctype
html
    head
        title Caleb Sanders - Portfilio
        link(rel="shortcut icon" href="images/Header Logo.png")
        link(href='/style/home-page.css', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Acme|Ubuntu+Condensed', rel='stylesheet')
        div.c-navigation.item
            div.title-card.item
                img.full-logo.item(src="images/Header Logo.png")
            div.c-dropdown-home.item
                button(onclick="dropDwn()" class="dropbtn")
                    div.hamburger
                    div.hamburger
                    div.hamburger
            div#Dropdown.dropdown-content-home
                a(href="/") Home
                a(href="about") About
                a(href="work") Work
                a(href="resume") Resume
                a(href="contact") Contact
    body
        div.container 
            img.home-back(src="/images/home-photo-altered.jpg")
        script(src="/dropdown.js")
        script(src="/project-click.js")