doctype
html
    head
        title Caleb Sanders | Full-Stack Developer
        link(rel="shortcut icon" href="images/Header Logo.png")
        link(href='/style/home-page.css', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Acme|Ubuntu+Condensed', rel='stylesheet')
        div.c-navigation.item
            div.title-card.item
                img.full-logo.item(src="images/Header Logo.png")
            div.c-dropdown.item
                button(onclick="dropDwn()" class="dropbtn")
                    div.hamburger
                    div.hamburger
                    div.hamburger
            div#Dropdown.dropdown-content
                a(href="/") Home
                a(href="work") Work
                a(href="about") About
                a(href="resume") Resume
                a(href="contact") Contact
    body
        div.container 
            div.home-text 
                div.my-logo
                    img.entire-logo.item(src="images/CSS Logo.png")
                div.top-intro
                    p.intro.item Caleb Sanders
                    p.intro.item Full-Stack Web Developer
            div.footer-temp
                div.social-media.item
                    div.social-media-icons.item
                        div.linkedIn.item
                            a(href="https://www.linkedin.com/in/caleb-sanders-wd/" target="_blank")
                                img.icon-linkedIn.media(src="/images/LinkedIn.png")
                        div.facebook.item
                            a(href="https://www.facebook.com/caleb.sanders.773" target="_blank")
                                img.icon-facebook.media(src="/images/Facebook.png")
                        div.twitter.item
                            a(href="https://twitter.com/CalebSanders287" target="_blank")
                                img.icon-twitter.media(src="/images/Twitter.png")
                        div.instagram.item
                            a(href="https://www.instagram.com/caleb_sanders97/" target="_blank")
                                img.icon-instagram.media(src="/images/Instagram.png") 
        script(src="/dropdown.js")
        script(src="/project-click.js")