doctype
html
    head
        title Caleb Sanders | Full-Stack Developer
        link(rel="shortcut icon" href="images/Header Logo.png")
        link(href='/style/main.css', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Acme|Ubuntu+Condensed', rel='stylesheet')
        div.c-navigation.item
            div.title-card.item
                //img.full-logo.item(src="images/1x/CSS Logov2.png")
                //img.full-logo.item(src="images/1x/CSS Logov3.png")
                img.full-logo.item(src="images/Header Logo.png")
            nav.c-nav.item
                div.c-nav-items.item
                    ul
                        li.c-link.item
                            a(href="/") Home
                        li.c-link.item
                            a(href="work") Work
                        li.c-link.item
                            a(href="about") About
                        li.c-link.item
                            a(href="resume") Resume
                        li.c-link.item
                            a(href="contact") Contact
                    ul
            div.c-dropdown.item
                button(onclick="dropDwn()" class="dropbtn")
                    div.hamburger
                    div.hamburger
                    div.hamburger
            div#Dropdown.dropdown-content
                a(href="/") Home
                a(href="work") Work
                a(href="about") About
                a(href="resume") Resume
                a(href="contact") Contact
    body
        div.container.item
            block content
        script(src="/dropdown.js")
        script(src="/project-click.js")
        script(src="/word.js")
        script(defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js")
    footer
        hr
        div.follow-me.item
            h2 Follow me on social media!
        div.social-media.item
            div.social-media-icons.item
                div.linkedIn.item
                    a(href="https://www.linkedin.com/in/caleb-sanders-wd/" target="_blank")
                        img.icon-linkedIn.media(src="/images/LinkedIn.png")
                div.facebook.item
                    a(href="https://www.facebook.com/caleb.sanders.773" target="_blank")
                        img.icon-facebook.media(src="/images/Facebook.png")
                div.twitter.item
                    a(href="https://twitter.com/CalebSanders287" target="_blank")
                        img.icon-twitter.media(src="/images/Twitter.png")
                div.instagram.item
                    a(href="https://www.instagram.com/caleb_sanders97/" target="_blank")
                        img.icon-instagram.media(src="/images/Instagram.png") 
        div.created-by.item 
            h2 Caleb Sanders &copy; 2018