extends layout

block content
    div.top-three.item 
        div.project-showcase.item
            div.capstone-project.work-project.item 
                //- img.work-images.item(src="/images/ffhc-image.PNG", onclick="ffhcLink()")
                p.soon Coming Soon
                div.project-description
                    p.work-title.item Capstone Project
                    p.work-desc.item
            div.activity-hunt.work-project.item 
                p.work-desc.item Activity Hunt
                p.soon Coming Soon
            div.talon-project.work-project.item 
                p.soon Coming Soon
                p.work-desc.item Talon
    hr
    div.other-projects.item 
        div.other-project-showcase.item 
            div.spoof-project.work-project.item 
                p.work-desc.item Spoof Boreo Project
                p.soon Coming Soon
            div.pizza-lab.work-project.item
                //-img.work-images.item(src="/images/Pizza-Lab.PNG", onclick="pizzaTime()")
                //-p.work-desc-cap.item Pizza Lab Developed in AngularJS
                p.soon Coming Soon
                p.work-desc.item Build Your Own Pizza
            div.tic-tac-toe.work-project.item 
                p.work-desc.item Overwatch Tic Tac Toe
                p.soon Coming Soon