extends layout

block content 
    div.greeting.item
        h1.item Hello! My name is Caleb Sanders
        div.profile-pic.item
            img.pic.item(src="/images/profile.JPG")
    div.description.item
        h3 "Test"