extends layout

block content
    div.top-three.item 
        div.project-showcase.item
            div.capstone-project.work-project.item 
                img.work-images.item(src="/images/ffhc-image.PNG", onclick="ffhcLink()")
                p.work-desc.item Capstone Project
            div.activity-hunt.item 
                
            div.talon-project.item 
            
    hr
    div.other-projects.item 
        div.other-project-showcase.item 
            div.spoof-project.item 
                
            div.pizza-lab.item 
            //-     div.pizza-lab-image.item 
            //-         img.work-images.item(src="/images/Pizza-Lab.PNG", onclick="pizzaTime()")
            //-         p.work-desc-cap.item Pizza Lab Developed in AngularJS
            div.tic-tac-toe.item 
            