extends layout

block content 
    div.work-overview.item 
        h2.desc.item Listed below are projects that I have developed during my time in college!
    div.top-three.item 
        h2.item Top 3 Projects:
        div.project-showcase.item
            div.capstone-project.item 
                h3.item Project: Capstone
                div.ffhc-image.item 
                    img.work-images.item(src="/images/ffhc-image.PNG", onclick="clickMe()")
                    p.work-desc.item Capstone Project for my Grandfather
            div.activity-hunt.item 
                h3.item Project: Activity Hunt
                div.activity-hunt-image.item 
                    img.work-images.item(src="/images/Activity-Hunt.PNG")
                    p.work-desc.item Web Scripting Final
            div.talon-project.item 
                h3.item Project: Talon
                div.talon-image.item 
                    img.work-images.item(src="/images/Talon.PNG")
                    p.work-desc.item Web Based Software Projects final
    hr
    div.other-projects.item 
        h2.item Other Projects:
        div.other-project-showcase.item 
            div.spoof-project.item 
                h3.item Project: Boreo
                div.boreo-image.item 
                    img.work-images.item(src="/images/Boreo.jpg")
                    p.work-desc.item Spoof Project created using Adobe Illustrator
            div.pizza-lab.item 
                h3.item Project: Pizza Lab
                div.pizza-lab-image.item 
                    img.work-images.item(src="/images/Pizza-Lab.PNG")
                    p.work-desc.item Pizza Lab Developed in AngularJS
            div.coat-of-arms.item 
                h3.item Project: Sanders Coat of Arms
                div.coat-of-arms-image.item 
                    img.work-images.item(src="/images/coat-of-arms.png")
                    p.work-desc.item Grphic Design Project made using Adobe Illustrator