extends layout

block content 
    div.work-overview.item 
        h2.desc.item Listed below are projects that I have developed during my time in college!
    div.top-three.item 
        h2.item Top 3 Projects:
        div.project-showcase.item
            div.capstone-project.item 
                div.ffhc-image.item 
                    img.work-images.item(src="/images/ffhc-image.PNG")
            div.activity-hunt.item 
                h3.item Activity Hunt
            div.talon-project.item 
                h3.item Talon
    hr
    div.other-projects.item 
        h2.item Other Projects:
        div.other-project-showcase.item 
            div.spoof-project.item 
                h3.item Boreo
            div.pizza-lab.item 
                h3.item Pizza Lab
            div.coat-of-arms.item 
                h3.item Sanders Coat of Arms